#style-switcher h2 a {
    background: #53a0fd none repeat scroll 0 0
}



/* Main COlor style */

a:hover {
    color: #53a0fd;
}

.trans-navigation.header-white .navbar-brand span{
    color: #53a0fd;
}

.section-title span {
    color: #53a0fd;
}


.line {
    background: #53a0fd;
}

.btn-hero,
.btn-white:hover {
    background: #53a0fd;
}

.btn-black:hover {
    background: #53a0fd;
}


.btn-trans-black:hover {
    background: #53a0fd !important;
}


/*-- Background Colors --*/

.bg-feature {
    background-color: #53a0fd;
}

.feature-overlay {
    background: #53a0fd;
    opacity: .97;
}

.gr-overlay {
   background: #53a0fd;
    opacity: .87;
}

.icon-left i {
    color: #53a0fd;
}

.service-block:hover .service-icon i {
    color: #53a0fd;
}

.service-block:hover .learn-more {
    color: #53a0fd;
}

.service-box span {
    color: #53a0fd;
}

.service-box:hover {
    border-color: #53a0fd;
    color: #53a0fd;
}

.carousel-indicators li.active {
    background: #53a0fd;
}

.team-block:hover {
    border-color: #53a0fd;
}

.team-block:hover h4 {
    color: #53a0fd;
}

.team-block ul li a {
    color: #53a0fd;
}


.price-header i {
    background: linear-gradient(135deg, #53a0fd 0%, #2f1ce0 50%, #51eca5 100%);
    background: -webkit-linear-gradient(135deg, #53a0fd 0%, #2f1ce0 50%, #51eca5 100%);
}


.blog-block img {
   border-color:#F4F8FB;
}

.blog-block .read-more,
.blog-block span {
    color: #53a0fd;
}


.footer-widget h4 span {
    color: #53a0fd;
}

.footer-text p.mail {
    color: #53a0fd;
}

.bg-main {
    background: #F4F8FB;
}

.trans-navigation.header-white .navbar-nav a.active {
    color: #53a0fd !important;
}

.trans-navigation.header-white .btn-white {
    background: #53a0fd;
}

.about-icon-block {
    background:-webkit-linear-gradient(135deg,  #2f1ce0  100%,    #53a0fd 30%,   #51eca 5%);
    background:linear-gradient(135deg,  #2f1ce0  100%,    #53a0fd 30%,   #51eca 5%);
}

.about-box h4:after {
    background: #53a0fd;
}


.service-style-2:hover {
   border-color:#53a0fd;
}